<% provide(:title, 'User') %>
  <div class="row">
    <h1><%= @user.name %></h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Following</p>
      <ul>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="col-md-6">
      <p>Followers</p>
      <ul>
        <li></li>
      </ul>
    </div>
  </div>
